.panel.panel-success
    .panel-heading
        h1.panel-title Add Location
    .panel-body
        form.from.add-location-form(action="/locations/add", method="POST")
            .form-group
                label(for="new-location-name") Location Name
                input.form-control#new-location-name(name="name", type="text", maxlength="75", required)
            .form-group
                label(for="new-location-address") Location Address
                input.form-control#new-location-address(name="address", type="text", maxlength="200", required)
            .form-group
                label(for="new-location-description") Location Description
                    small.text-muted  (Optional)
                textarea.form-control#new-location-description(name="description", maxlength="650", placeholder="Add any important information here.", rows="5")
            
            hr
            button.btn.btn-success.right Add Location