extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Locations
                    small.right #{locations.length} total
                p Locations info here...
                a.btn.btn-primary.right(href="#locations") All Locations
        hr
    if user.admin
        include addlocation

    .row
        .col-xs-12
            .page-header
                h1 Active Locations
                    +help('active-locations')
                    small.right 0 total
        .col-xs-12
            p.text-muted.text-center There are no #[b active locations].

    .row#locations
        .col-xs-12
            .page-header
                h2 Inactive Locations
                    +help('inactive-locations')
        .col-xs-12
            if locations.length > 0
                table.table
                    thead
                        tr
                            th Name
                            th Address
                            th Description
                    tbody
                        each l in locations
                            tr
                                td= l.name
                                td= l.address
                                if l.description
                                    td= helpers.limit(l.description, 50)
                                else
                                    td.text-muted No description given.
                                td
                                    a.btn.btn-default(href="/locations/" + l._id) View Details
            else
                p.text-muted.text-center There are no #[b locations].