extends /layout

mixin location(l)
    .location
        =l.name


block content
    .row
        .col-xs-12
            .page-header
                include /includes/pagination
                h1 All Locations
    if user.rank != 'teacher' || user.admin
        .row
            .col-xs-12
                hr
                //- Only program directors, ambassadors, and admins of any rank can add new locations
                a.btn.btn-danger(href='/locations/new') New Location