while message = flash.shift()
    .alert.alert-dismissible(role='alert', class='alert-' + (message.type == 'error' ? 'danger' : message.type))
        b #{message.type.toUpperCase()} 
        span= message.message

if user
    if !user.verified
        .alert.alert-danger(role='alert') Your account needs to be approved by an administrator before you can use the site.