extends /layout

mixin camp(c)
    .camp
        =c.location.name


block content
    .row
        .col-xs-12
            .page-header
                nav.right
                    ul.pagination.camp-list-pagination
                        if page <= 1
                            li.disabled
                                span &laquo;
                        else
                            li
                                a(href='?page=' + (page-1)) &laquo;
                        each _, i in Array(pages)
                            li(class=(page == i+1 ? 'active': ''))
                                a(href='?page=' + (i+1))= (i+1)
                        if page < pages
                            li
                                a(href='?page=' + (page+1)) &raquo;
                        else
                            li.disabled
                                span &raquo;
                h1 All Camps
    .row
        .col-xs-12