body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.location {
    padding-right: 20px;
}

.camp-dates {
    margin-top: 0;
}

.fundraising-well {
    margin-bottom: 0;
}

.fundraising-well h3 {
    margin: 10px;
}

.user-image-link {
    margin: 0 !important;
    padding: 0 !important;
}

img.user-image {
    height: 42px;
    max-height: 42px;
}

img.large-profile-image {
    width: 100px;
    max-width: 100px;
}

img.user-profile {
    width: 250px;
    max-width: 250px;
    border: 5px solid #222;
}

#new-location-info {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
}

.rank-name {
    text-transform: capitalize;
}