body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.location {
    padding-right: 20px;
}

.camp-dates {
    margin-top: 0;
}

.fundraising-well {
    margin-bottom: 0;
}

.fundraising-well h3 {
    margin: 10px;
}

.user-image-link {
    margin: 0 !important;
    padding: 0 !important;
}

img.user-image {
    max-height: 42px;
}

img.large-profile-image {
    max-width: 100px;
}

img.user-profile {
    max-width: 250px;
    border: 5px solid #222;
}