body {
  padding-top: 70px;
  padding-bottom: 40px; }

.right {
  float: right; }

.left {
  float: left; }

.pagination {
  margin-top: 0; }

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 200px; }

.help-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 0.7em !important; }

@media only screen and (max-width: 768px) {
  .page-header h1, .page-header h2, .page-header h3 {
    text-align: center; }
  .page-header small {
    float: none !important; }
  .page-header small:before {
    content: ' ';
    display: block; }

  .actions {
    text-align: center; }
    .actions .right {
      float: none; } }
.homepage-jumbotron {
  margin: 0; }
  .homepage-jumbotron > .logo {
    height: 130px; }
  .homepage-jumbotron > .quoteofday {
    margin-bottom: 0; }
  @media only screen and (max-width: 768px) {
    .homepage-jumbotron > h1 {
      text-align: center; } }

.important-links {
  background-color: #222;
  padding: 10px;
  text-align: center; }
  .important-links a {
    color: white;
    padding: 10px; }

.admin-updates img.media-object {
  width: 70px; }

.navbar-top .profilepicture > img {
  height: 50px; }
.navbar-top .profilepicture {
  margin: 0 !important;
  padding: 0 !important; }

/* APPLICATION PAGE */
.application-form .help-icon {
  margin-left: 5px;
  font-size: 1em !important; }

/* APPLICANT LIST */
.contact-info div {
  padding-bottom: 10px; }

.applicant-panel blockquote {
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0; }
.applicant-panel .input-group {
  width: 100%; }

.applicant-info-section * {
  display: block; }

.form-group.no-rank {
  display: none; }

/* LOCATION PAGE */
.location-iframe {
  width: 100%;
  border: 5px solid #222; }
  @media only screen and (max-width: 1200px) {
    .location-iframe {
      margin-bottom: 30px; } }

a.location-name {
  color: #222; }

/* LOCATION INDEX PAGE */
.location-list > .location-item {
  padding-right: 20px; }

/* USER INDEX/LIST PAGE */
.user-list .user-panel .profileimage {
  height: 100px; }

/* USER PROFILE PAGE */
.user-info .summary > .profilepicture {
  width: 250px;
  max-width: 250px;
  border: 5px solid #222; }
@media only screen and (max-width: 768px) {
  .user-info .summary {
    text-align: center; } }

/* EDIT PROFILE PAGE */
/* WORKSHOP OVERVIEW PAGE */
.workshop-panel[data-workshop-status="future"] span.text-muted {
  color: white; }

/* WORKSHOP LIST PAGE */
/* WORKSHOP PAGE */
.workshop-dates {
  margin-top: 10px; }

.workshop-ranks .help-icon {
  margin-left: 0;
  margin-right: 5px;
  font-size: 1em !important; }
.workshop-ranks .media {
  border-bottom: 1px solid #D9EDF7;
  margin-top: 0; }
.workshop-ranks .media-left {
  width: 120px; }
.workshop-ranks .media img {
  height: 60px; }
.workshop-ranks .media-body {
  padding: 8px;
  padding-left: 0; }

.active-workshops {
  margin: 0;
  margin-bottom: 10px; }
  .active-workshops h3 {
    margin-top: 0; }

.rank-name {
  text-transform: capitalize; }

.rank {
  text-transform: capitalize; }
  .rank h4 {
    margin-top: 0;
    text-align: center; }
  .rank img.ambassador {
    border: 5px solid #F2DEDE; }
  .rank img.director {
    border: 3px solid #F2DEDE; }
  .rank img.teacher {
    height: 60px;
    vertical-align: bottom; }

.rank-summary {
  margin-bottom: 10px; }

.workshop-team img {
  height: 80px; }

.workshop-info tr td:first-child {
  text-transform: capitalize; }

/* FUNDRAISING PAGE */
.fundraising-well {
  margin-bottom: 0; }

.fundraising-well h3 {
  margin: 10px; }

/*# sourceMappingURL=style.css.map */
