body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.location {
    padding-right: 20px;
}

.camp-dates {
    margin-top: 0;
}

.fundraising-well {
    margin-bottom: 0;
}

.fundraising-well h3 {
    margin: 10px;
}

.user-image-link {
    margin: 0 !important;
    padding: 0 !important;
}

img.user-image {
    height: 42px;
    max-height: 42px;
}

img.user-profile {
    width: 250px;
    max-width: 250px;
    border: 5px solid #222;
}

#new-location-info {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
}

.rank-name {
    text-transform: capitalize;
}

a.location-name {
    color: #222;
}

.user-panel {

    height: 225px;
}


.user-panel img.large-profile-image {
    height: 100px;
}

.rank {
    text-transform: capitalize;
}

.active-camps {
    margin: 0;
    margin-bottom: 10px;
}

.active-camps h3 {
    margin-top: 0;
}

.rank-desc h3 {
    margin-top: 0;
}

.camp-dates {
    margin-top: 10px;
}

.homepage-jumbotron {
    margin: 0;
}

.important-links nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.important-links nav a {
    color: white;
    padding: 20px;
}