body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.location {
    padding-right: 20px;
}

.camp-dates {
    margin-top: 0;
}

.location-iframe {
    width: 100%;
}

.fundraising-well {
    margin-bottom: 0;
}

.fundraising-well h3 {
    margin: 10px;
}

.user-image-link {
    margin: 0 !important;
    padding: 0 !important;
}

img.user-image {
    height: 42px;
    max-height: 42px;
}

img.user-profile {
    width: 250px;
    max-width: 250px;
    border: 5px solid #222;
}

#new-location-info {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
}

.rank-name {
    text-transform: capitalize;
}

a.location-name {
    color: #222;
}

.user-panel {

    height: 225px;
}


.user-panel img.large-profile-image {
    height: 100px;
}

.rank {
    text-transform: capitalize;
}

.active-camps {
    margin: 0;
    margin-bottom: 10px;
}

.active-camps h3 {
    margin-top: 0;
}

.camp-panel[data-camp-status="future"]  span.text-muted{
    color: white;
}

.rank-desc h3 {
    margin-top: 0;
}

.rank-summary {
    margin-bottom: 10px;
}

.camp-dates {
    margin-top: 10px;
}

.homepage-jumbotron {
    margin: 0;
}

.homepage-jumbotron blockquote {
    margin-bottom: 0;
}

.important-links nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.important-links nav a {
    color: white;
    padding: 10px;
}

.help-icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 0.7em !important;
    vertical-align: top;
    margin-top: 1.2%;
}

.camp-ranks .help-icon {
    margin-left: 0;
    margin-right: 5px;
    font-size: 1em !important;
    margin-top: 0;
    vertical-align: inherit;
}

@media only screen and (max-width: 768px) {
    .page-header h1, .page-header h2, .page-header h3 {
        text-align: center;
    }

    .page-header small {
        float: none !important;
    }
    .page-header small:before {
        content: ' ';
        display: block;
    }  
}

@media only screen and (max-width: 1200px) {
    .location-iframe {
        margin-bottom: 30px;
    }
}