extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Administration
                p As Administrators...
                a.btn.btn-default(href="/administration/unverified") Unverified Users
            hr    