extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Administration
                p= helpers.getHelpInfo('administrators')
                a.btn.btn-primary(href='/administration/unverified') Unverified Users
            hr
    .row
        .col-xs-12.col-md-6
            .page-header
                h2 Update News
                    +help('news')
            p.text-center.text-muted Coming soon...

        .col-xs-12.col-md-6
            .page-header
                h2 User Activity Log
                    +help('latest-updates')
            p.text-center.text-muted Coming soon...
