extends /layout

mixin unverified(user)
    .col-xs-12.col-md-6
        .panel.panel-default
            .panel-heading
                h1.panel-title= user.name.full
                    span.text-muted.right(title=moment(user.registeredDate).format("dddd, MMMM Do YYYY, h:mm a"))= "registered " + moment(user.registeredDate).fromNow()
            .panel-body
                form.form(method="POST", action="/administration/verify/" + user._id)
                    .form-group
                        label Email
                        input.form-control.disabled(type="text", value=user.email, disabled)
                    button.btn.btn-default.right Verify
                    button.btn.btn-danger Delete
block content
    .row
        .col-xs-12
            .page-header
                h1 Unverified Users
                    +help('unverified-users')
                    small.right #{unverifiedUsers.length} pending
                blockquote.visible-xs
                    p New users that login are restricted from doing anything until an #[b Administrator] verifies them.
    .row
        if unverifiedUsers.length > 0
            each u in unverifiedUsers
                +unverified(u)
        else
            p.text-muted.text-center There are no pending unverified users.