ul.nav.navbar-nav.navbar-right
    if loggedIn
        // Logged in indicator with user actions
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') #{user.rankName} #{user.name.full}
                span.caret
            ul.dropdown-menu
                if user.accountStatus == 0
                    li
                        a(href='/setup') Setup
                else
                    li
                        a(href='/profile') Profile
                    li
                        a(href='#') Another action
                    li
                        a(href='#') Something else here
                li.divider(role='separator')
                li
                    a(href='/logout') Logout

    else
        li
            a(href='/login') Login
