ul.nav.navbar-nav.navbar-right
    if loggedIn
        // Logged in indicator with user actions
        li
            a.user-image-link(href="/setup")
                img.user-image(src="/images/" + user.profileImageName)
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                if user.admin
                    b Admin
                else if !user.verified
                    b Unverified
                |  #{user.name.full}
                span.caret
            ul.dropdown-menu
                if user.verified
                    li(title="Edit your profile.")
                        a(href='/setup') Edit Profile
                    li(title="View your public profile.")
                        a(href='/users/' + user.email) View Profile
                    li.divider(role='separator')
                li
                    a(href='/logout') Logout
    else
        li
            a(href='/login') Login