ul.nav.navbar-nav.navbar-right
    if loggedIn
        // Logged in indicator with user actions
        li
            a(href="#", onclick="alert('Coming soon...')", title="Offer feedback on the website.")
                i.fa.fa-comments
        li.hidden-xs
            a.profilepicture(href="/profile")
                img(src="/images/" + user.profileImageName)
        
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                if user.admin
                    i.fa.fa-star.admin-star(title="Board Member")
                b= user.rankName
                |  #{user.name.full}
                span.caret
            ul.dropdown-menu
                li(title="Edit your profile.")
                    a(href='/profile') Edit Profile
                li(title="View your public profile.")
                    a(href='/users/' + user.email) View Profile
                li.divider(role='separator')
                li
                    a(href='/logout') Logout

    else
        li(class=helpers.activeLink('/application', pagePath))
            a(href='/application') Apply
        li
            a(href='/login') Login