// FUNDRAISING
if user.accountStatus > 1
    if user.rank > 2
        li.dropdown(class=helpers.activeLink('/administration', pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Administration
                span.caret
            ul.dropdown-menu
                li
                    a(href='/administration') Overview
    if user.location
        li.dropdown(class=helpers.activeLink('/locations', pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')= user.location.name
                span.caret
            ul.dropdown-menu
                li
                    a(href='/locations/' + user.location._id) Overview

    li.dropdown(class=helpers.activeLink('/fundraising', pagePath))
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Fundraising
            span.caret
        ul.dropdown-menu
            li
                a(href='/fundraising') Overview
else
    i.navbar-text You will be able to use services once verified.