// FUNDRAISING
if user.verified
    if user.rank > 2
        li.dropdown(class=helpers.activeLink('/administration', pagePath))
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Administration
                span.caret
            ul.dropdown-menu
                li
                    a(href='/administration') Overview
                li.divider(role='separator')
                li(class=helpers.activeLink('/administration/unverified', pagePath))
                    a(href="/administration/unverified") Unverified Users
    li(class=helpers.activeLink('/locations', pagePath))
        a(href='/locations') Locations
    li(class=helpers.activeLink('/users', pagePath))
        a(href='/users') Users
else
    i.navbar-text You will be able to use services once verified.