/* APPLICATION PAGE */

.application-form {
    .help-icon {
        margin-left: 5px;
        font-size: 1em !important;
    }

    #ambassadors {
        display: none;
    }
}


/* APPLICANT LIST */

.contact-info div {
    padding-bottom: 10px;
}

.applicant-panel {
    blockquote {
        font-size: 1em;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .input-group {
        width: 100%;
    }
}

.applicant-info-section * {
    display: block;
}

.form-group.no-rank * {
    display: none;
}