/* APPLICATION PAGE */

.application-form {
    .help-icon {
        margin-left: 5px;
        font-size: 1em !important;
    }
}


/* APPLICANT LIST */

.contact-info div {
    padding-bottom: 10px;
}

.applicant-panel {
    h2 {
        margin: 10px 0 20px 0;
    }

    margin: 40px 0 40px 0;
}

.applicant-info-section * {
    display: block;
}

.form-group.no-rank {
    display: none;
}