.homepage-jumbotron {
    margin: 0;

    > .logo {
        height: 130px;
    }

    > .quoteofday {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 768px) {
        > h1 { text-align: center; }
    }
}

.important-links {
    background-color: #222;
    padding: 10px;
    text-align: center;

    a {
        color: white;
        padding: 10px;
    }
}

.admin-activities {
    .action { text-transform: uppercase; margin-right: 5px; }
}