/* LOCATION PAGE */

.location-iframe {
    width: 100%;
    border: 5px solid #222;

    @media only screen and (max-width: 1200px) {
        margin-bottom: 30px;
    }
}

a.location-name {
    color: #222;
}


/* LOCATION INDEX PAGE */

.location-list {
    > .location-item {
        padding-right: 20px;
    }
}