.region-table {
    .profile-image {
        width: 70px;
    }
}

#region-map {
    border: 4px solid #222;
}

.region-marker-window {
    h1, h2, h3, h4, h5, h6 {
        margin: initial;
    }

    hr {
        margin: 3px;
    }
}