.navbar-top {
    .profilepicture > img {
        height: 50px;
    }

    .profilepicture {
        margin: 0 !important;
        padding: 0 !important;
    }

    .navbar-brand {
        margin-right: 0px;
        padding-right: 5px;
    }
}