/* USER INDEX/LIST PAGE */

.user-list {
    .profile-image {
        height: 50px;
        border: 2px solid #222;
    }
    
    tr td:first-child {
        width: 20px;
    }
}


/* USER PROFILE PAGE */

.user-info {
    .summary > .profilepicture {
        width: 250px;
        max-width: 250px;
        border: 5px solid #222;
    }


    > .contact {

    }

    @media only screen and (max-width: 768px) {
        .summary {
            text-align: center;
        }
    }
}

/* EDIT PROFILE PAGE */

.edit-user-form {
    
}