/* WORKSHOP OVERVIEW PAGE */

.workshop-panel[data-workshop-status="future"]  span.text-muted{
    color: white;
}


/* WORKSHOP LIST PAGE */


/* WORKSHOP PAGE */

.workshop-dates {
    margin-top: 10px;
}

.workshop-ranks {
    .help-icon {
        margin-left: 0;
        margin-right: 5px;
        font-size: 1em !important;
    }

    .media {
        border-bottom: 1px solid #D9EDF7;
        margin-top: 0;
    }

    .media-left {
        width: 120px;
    }

    .media img {
        height: 60px;
    }

    .media-body {
        padding: 8px;
        padding-left: 0;
    }
}

.active-workshops {
    margin: 0;
    margin-bottom: 10px;

    h3 {
        margin-top: 0;
    }
}

.rank-name {
    text-transform: capitalize;
}

.location-image.big {
    max-width: 400px;
}

.workshop-team img {
    height: 80px;
}

.workshop-info {
    tr td:first-child {
        text-transform: capitalize;
    }
}

/* FUNDRAISING PAGE */

.fundraising-well {
    margin-bottom: 0;
}

.fundraising-well h3 {
    margin: 10px;
}

/* MODAL */
.workshop-modal-toggle { cursor: pointer; }
.workshop-modal {
    .ranks {
        text-align: center;
    }
    img {
        height: 70px;
    }
    .modal-title b {
        color: initial;
    }
}