body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.logo {
    height: 130px;
}

@import 'utils';
@import 'application';
@import 'locations';
@import 'users';
@import 'workshops';

.homepage-jumbotron {
    margin: 0;
}

.homepage-jumbotron blockquote {
    margin-bottom: 0;
}

.important-links nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.important-links nav a {
    color: white;
    padding: 10px;
}

.help-icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 0.7em !important;
}

textarea {
    max-width: 100%;
    max-height: 200px;
}

.contact-info div {
    padding-bottom: 10px;
}

.applicant-panel blockquote {
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}

.applicant-panel .input-group {
    width: 100%;
}

.applicant-info-section * {
    display: block;
}

.form-group.no-rank * {
    display: none;
}



.teacher-director-page img {
    width: 150px;
    border: 4px solid #222;
}

.director-management .active-workshop a:first-of-type {
    margin-right: 5px;
}

.pagination {
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .homepage-jumbotron h1 {
        text-align: center;
    }

    .page-header {
        h1, h2, h3 {
            text-align: center;
        }

        small {
            float: none !important;
        }
        
        small:before {
            content: ' ';
            display: block;
        }
    }

    .actions {
        text-align: center;

        .right {
            float: none;
            
        }
    }
}