extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Workshops
                p= helpers.getHelpInfo('workshops')

                //- Only program directors, ambassadors, and admins of any rank can schedule new workshops
                if user.rank != 'teacher' || user.admin
                    a.btn.btn-danger(href='/workshops/new', title="Schedule a new workshop with all its info.", data-toggle="tooltip") New Workshop

                a.btn.btn-primary.right(href='/workshops/list', title="View/search all current and old workshops.", data-toggle="tooltip") All Workshops
            hr

    .row
        .col-xs-12
            ul.nav.nav-tabs
                li.active(role="presentation")
                    a(data-toggle="tab", href="#active-workshops") Active Workshops 
                        span.badge= activeWorkshops.length
                li(role="presentation")
                    a(data-toggle="tab", href="#workshop-statistics") Workshop Statistics

    .row.tab-content
        br
        #active-workshops.col-xs-12.tab-pane.fade.in.active
            p.text-muted.text-center= helpers.getHelpInfo('active-workshops')
    
            if activeWorkshops.length > 0
                each c in activeWorkshops
                    .col-xs-12.col-md-6.col-lg-4
                        +workshop-panel(c)
            else
                p.text-muted.text-center There are currently no #[b active workshops].

    
        #workshop-statistics.col-xs-12.tab-pane.fade
            p.text-muted.text-center Overall workshop statistics graphs coming soon...