extends /layout

mixin workshop(c)
    .workshop
        =c.location.name


block content
    .row
        .col-xs-12
            .page-header
                include /includes/pagination
                h1 All Workshops
    .row
        .col-xs-12