extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                img.logo.right.hidden-xs(alt="Brand" src='/images/small-logo.gif')
                h1.welcome Welcome, #{user.name.first}!
                hr
                blockquote.quoteofday
                    script(src="https://www.brainyquote.com/link/quotebr.js")

        .col-xs-12
            nav.important-links
                a.kidstales(href="http://kidstales.org/", target="_blank", title="Official public page for Kids Tales.", data-toggle="tooltip")
                    +icon('external-link', 'Kids Tales Site')
                a.slack(href="https://kids-tales.slack.com/", target="_blank", title="The mandatory communication platform for Kids Tales.", data-toggle="tooltip")
                    +icon('slack', 'Slack')
                a.github(href="https://github.com/KidsTales/kt-web/issues", title="The site that holds the public source code for this website and tracks issues.", target="_blank", data-toggle="tooltip")
                    +icon('github', 'Website Issues')
            hr
    .row
        if admin
            .col-xs-12.col-sm-6.col-md-5
                .panel.panel-info.admin-activities
                    .panel-heading
                        h3.panel-title Recent User Actions
                    if recentActivities.length > 0
                        ul.list-group
                            each a in recentActivities
                                li.list-group-item(title=moment(a.dateAdded).format("dddd, MMMM Do YYYY, h:mm a"))
                                    b.action= a.action
                                    span.description= a.description
                    else
                        p.text-center.text-muted There have been no updates from admins.
        .col-xs-12.col-sm-6.col-md-7
            #homepage-calendar
            script(src="/javascripts/calendar.js")