extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                img.logo.right.hidden-xs(alt="Brand" src='/images/small-logo.gif')
                h1 Welcome, #{user.name.first}!
                hr
                blockquote
                    script(src="https://www.brainyquote.com/link/quotebr.js")
        .col-xs-12
            .important-links
                nav
                    a(href="http://kidstales.org/", target="_blank")
                        +icon('external-link', 'Kids Tales Site')
                    if user.verified
                        a(href="#", target="_blank")
                            +icon('slack', 'Slack')
                    a(href="https://github.com/KidsTales/kt-web/issues", target="_blank")
                        +icon('github', 'Website Issues')
    
    if user.verified
        if user.rank == 'teacher'

        else if user.rank == 'director'
            include /directors/index
        else if user.rank == 'ambassador'
            span Coming soon...
    else
        .col-xs-12.text-center
            h3.text-muted Once you are verified you will be able to view updates from the administrators and access your current camp involvements.