extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                img.logo.right.hidden-xs(alt="Brand" src='/images/small-logo.gif')
                h1.welcome Welcome, #{user.name.first}!
                hr
                blockquote.quoteofday
                    script(src="https://www.brainyquote.com/link/quotebr.js")

        .col-xs-12
            nav.important-links
                a.kidstales(href="http://kidstales.org/", target="_blank")
                    +icon('external-link', 'Kids Tales Site')
                if user.verified
                    a.slack(href="#", target="_blank")
                        +icon('slack', 'Slack')
                a.github(href="https://github.com/KidsTales/kt-web/issues", target="_blank")
                    +icon('github', 'Website Issues')
    .row
        .col-xs-12
            hr
            .panel.panel-info.admin-updates
                .panel-heading
                    h3.panel-title Admin Updates
                .panel-body
                    .media
                        .media-left
                            // TODO: add link
                            a(href="/users/" )
                                img.media-object(src="/images/default.png")
                        .media-body
                            h4.media-heading Admin Name
                            | text
                            a.btn.btn-primary.right Past Updates                        

    if user.verified
        if user.rank == 'teacher'
            span Coming soon...
        else if user.rank == 'director'
            span Coming soon...
        else if user.rank == 'ambassador'
            span Coming soon...
    else
        .col-xs-12.text-center
            h3.text-muted Once you are verified you will be able to view updates from the administrators and access your current workshop involvements.
