extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                img.logo.right.hidden-xs(alt="Brand" src='/images/small-logo.gif')
                h1.welcome Welcome to KidsTales
                p Kids Tales is a non-profit, 501(c)(3) that teaches kids who don’t have writing opportunities outside of school how to create, compose, and publish their own short story. During a Kids Tales workshop, 8- to 12-year-old kids spend one week brainstorming, writing, and editing their very own short story.
            hr
    .row
        .col-xs-12.col-lg-4
            .panel.panel-info
                .panel-heading
                    h1.panel-title Info Here
                .panel-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    button.btn.btn-info.right Action
        .col-xs-12.col-lg-4
            .panel.panel-info
                .panel-heading
                    h1.panel-title Info Here
                .panel-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    button.btn.btn-info.right Action
        .col-xs-12.col-lg-4
            .panel.panel-info
                .panel-heading
                    h1.panel-title Info Here
                .panel-body
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    button.btn.btn-info.right Action