.row
    .col-xs-12
        .jumbotron
            h1 Welcome to KidsTales
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non pretium eros, nec rutrum nisl. Praesent risus risus, ultrices vel commodo congue, tempor vel tortor. Pellentesque tortor ex, volutpat a placerat id, lacinia non quam. Nullam pellentesque auctor odio vitae vehicula. Nulla eleifend tristique sem ac rutrum. Vestibulum in venenatis justo, sit amet ornare ipsum. Aliquam id lorem pellentesque, accumsan neque at, lobortis urna. Pellentesque sed pharetra libero. Nullam ut sem ac sem efficitur sagittis.
        hr
.row
    .col-xs-12.col-lg-4
        .panel.panel-info
            .panel-heading
                h1.panel-title Info Here
            .panel-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.btn.btn-info.right Action
    .col-xs-12.col-lg-4
        .panel.panel-info
            .panel-heading
                h1.panel-title Info Here
            .panel-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.btn.btn-info.right Action
    .col-xs-12.col-lg-4
        .panel.panel-info
            .panel-heading
                h1.panel-title Info Here
            .panel-body
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.btn.btn-info.right Action