extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.homepage-jumbotron
                img.logo.right.hidden-xs(alt="Brand" src='/images/small-logo.gif')
                h1.welcome Welcome to KidsTales
                p Kids Tales is a non-profit, 501(c)(3) that teaches kids who don’t have writing opportunities outside of school how to create, compose, and publish their own short story. During a Kids Tales workshop, 8- to 12-year-old kids spend one week brainstorming, writing, and editing their very own short story.
            hr
    .row
        .col-xs-12.col-lg-4
            .panel.panel-info
                .panel-heading
                    h1.panel-title Teachers
                .panel-body
                    p= helpers.getHelpInfo('teachers')
                    a.btn.btn-info.right(href="/application") Apply
        .col-xs-12.col-lg-4
            .panel.panel-warning
                .panel-heading
                    h1.panel-title Program Directors
                .panel-body
                    p= helpers.getHelpInfo('director')
                    a.btn.btn-warning.right(href="/application") Apply
        .col-xs-12.col-lg-4
            .panel.panel-danger
                .panel-heading
                    h1.panel-title Ambassadors
                .panel-body
                    p= helpers.getHelpInfo('ambassador')
                    a.btn.btn-danger.right(href="/application") Apply