extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Fundraising
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis erat eu tortor aliquam feugiat. Nam feugiat convallis sem. Mauris vel ullamcorper nisl, id vehicula urna. Praesent interdum sed tellus fermentum placerat. Etiam eu dolor nisi. Ut ac velit vitae purus pharetra hendrerit. Curabitur dictum, erat ac posuere interdum, lorem mi sollicitudin est, non dignissim nibh velit nec ipsum. Nunc ut libero tincidunt, scelerisque augue nec, aliquet nisl. Pellentesque blandit odio massa, eu laoreet augue volutpat a. Integer vehicula augue ac efficitur posuere.
            hrextends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Administration
                p As Administrators...
            hr
    .row
        .col-xs-12.col-md-6
            include adddeposit
                    