form.application-form(method="POST", enctype="multipart/form-data", action=(applying ? '#' : '/management/applicants/' + u.email + '/accept'))
    .page-header
        h3 Contact Info
    include /includes/userForm

    .page-header
        h3 Workshop Info

    if applying
        .form-group
            label(for="rank") Desired Rank
                +help('ranks')
            select#rank.form-control(name="rank", required)
                option(value="teacher", selected=(u.application.rank == 'teacher')) Teacher
                option(value="director", selected=(u.application.rank == 'director')) Program Director
                option(value="ambassador", selected=(u.application.rank == 'ambassador')) Ambassador

        .form-group
            label(for='superior', style=(u.application.rank == 'ambassador' ? 'display: none' : '')) Program Director
                +help('superior')
            select#directors.form-control(name="directorId", style=(u.application.rank == 'teacher' || !u.application.rank ? '' : 'display: none'), required)
                each d in directors
                    option(value=d._id, selected=(u.application.superior == d.id))= d.name.full
            select#ambassadors.form-control(name="ambassadorId", style=(u.application.rank == 'director' ? '' : 'display: none'), required)
                each a in ambassadors
                    option(value=a._id, selected=(u.application.superior == a.id))= a.name.full

    .form-group
        label(for="why") Why Kids Tales?
        textarea#why.form-control(name="why", rows="5", placeholder="What makes you eager to volunteer for us?", maxlength="650", required)= u.application.why

    .form-group
        label(for="writing-sample") Sample of Your Writing
        if u.application.writingFileName
            | 
            a(href='/writingsamples/' + u.application.writingFileName, target='new')
                +icon('link', 'Already Submitted')
        input.form-control#writing-sample(type="file", name="writingSample", accept=".doc,.docx,.txt,.md", required=(!u.application.writingFileName))
    hr

    if applying
        button.btn.btn-danger(type="submit")
            if u.application.rank
                | Update Application
            else
                | Submit Application
        script(src='/javascripts/application.js')
    else  
        button.btn.btn-success.right(type="submit") Save & Accept
