extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Kids Tales Teacher Application
                p= helpers.getHelpInfo('application')
        
        .col-xs-12
            - var u = user
            - var applying = true
            include /application/applicationform