extends /layout

block content
    .row
        .col-xs-12
            .jumbotron
                h1 Fundraising for #[b Camp #{camp.location.name}]
            hr
    .row
        .col-xs-12.col-md-6
            include addfunds
        .col-xs-12.col-md-6
            include recentfunds