extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Regions
                p Major regions separate Kids Tales workshops so volunteers only see info about relevant surrounding places!
                a.btn.btn-primary(href="/regions/new") New Region

    .row
        .col-xs-12
            table.table
                thead
                    tr
                        th Name
                        th Ambassador
                tbody
                    each r in regions
                        tr
                            td
                                a(href="/regions/" + r.id)= r.name
                            td
                                if r.ambassador
                                    a(href="/users/" + r.ambassador.email)= r.name.full
                                    img(src="/images/" + r.ambassador.profileImageName)
                                else
                                    span.text-muted Coming soon...