extends /layout

block content
    .row
        .col-xs-12
            .jumbotron.clearfix
                h1 Regions
                p Major regions separate Kids Tales workshops so volunteers only see info about relevant surrounding places!
                a.btn.btn-primary(href="/regions/new") New Region

    .row
        .col-xs-12
            table.table
                thead
                    tr
                        th Name
                        th Ambassador
                        th Volunteer Count
                tbody
                    each r in regions
                        tr
                            td
                                a(href="/regions/" + r.id)= r.name
                            td
                                if r.ambassador
                                    a(href="/users/" + r.ambassador.email)= r.name.full
                                    img(src="/images/" + r.ambassador.profileImageName)
                                else
                                    span.text-muted Coming soon...
                            td.text-muted Coming soon...
    .row
        .col-xs-12
            hr
            h2 Pending Regions
            p.text-muted These are regions suggested by applicants when applying. Their application is not complete until they choose an existing region or their suggestion is approved here.
        .col-xs-12
            table.table
                thead
                    tr
                        th Name
                        th Date Submitted
                        th Approve
                        th Deny
                tbody
                    each r in unapprovedRegions
                        tr
                            td= r.name
                            td= moment(r.dateAdded).fromNow() + " | " + moment(r.dateAdded).format("dddd, MMMM Do YYYY")
                            td
                                form(action="/regions/" + r.id + "/approve", method="POST")
                                    button.btn.btn-success Approve
                            td
                                form(action="/regions/" + r.id + "/deny", method="POST")
                                    button.btn.btn-danger Deny